In [ ]:
name = ['a','b']
age = [25,26]

In [ ]:
### a@25, b@26

In [ ]:
for i in range(len(name)):
    print(name[i]+ '@' + str(age[i]))

a@25
b@26

In [ ]:
### Decoraters

In [ ]:
### Empl Name, Salary, Dept
### 5 rows

In [ ]:
select * from table_name rank()overpartition(by empl_name order by salary desc) as rank
order by rank

### Updating keys and values

In [ ]:
from collections import Counter

In [ ]:
items = Counter('2 3 4 5 6 8 7 6 5 18'.split(' '))

In [ ]:
items

Counter({'2': 1, '3': 1, '4': 1, '5': 2, '6': 2, '8': 1, '7': 1, '18': 1})

In [ ]:
i = [['6','55'],['6','45'],['6','65'],['4','40'],['18','60'],['10','65']]

In [ ]:
purchase = []
for j in i:
    if items[j[0]] > 0:
        purchase.append(int(j[1]))
        items[j[0]] = items[j[0]] - 1
    else: pass

In [ ]:
items

Counter({'2': 1, '3': 1, '4': 0, '5': 2, '6': 0, '8': 1, '7': 1, '18': 0})

In [ ]:
sum(purchase)

200

### Regex searching all overlaps

In [ ]:
import re

In [ ]:
str1 = 'aaadaa'
str2 = 'aa'

In [ ]:
if str2 in str1:
    for i in re.finditer(f'(?=({str2}))',str1):
        print((i.start(1), i.end(1)-1))
else:
    print((-1,-1))

(0, 1)
(1, 2)
(4, 5)

### Decorator

In [ ]:
import operator

In [ ]:
lists = ['Mike Thomson 20 M', 'Andria Bustle 32 M', 'Robert Bustle 30 F']

In [ ]:
lists1 = []
for i in lists:
    lists1.append(i.split())

In [ ]:
lists1

[['Mike', 'Thomson', '20', 'M'],
 ['Andria', 'Bustle', '32', 'M'],
 ['Robert', 'Bustle', '30', 'F']]

In [ ]:
lists1.sort(key=operator.itemgetter(2))

In [ ]:
[' '.join(i) for i in lists1]

['Mike Thomson 20 M', 'Robert Bustle 30 F', 'Andria Bustle 32 M']

In [ ]:
def person_lister(f):
    def inner(people):
        # complete the function
        for i in range(len(people)):
            people[i][2] = int(people[i][2])
        people.sort(key=operator.itemgetter(2))
        return [f(x) for x in people]
    return inner

In [ ]:
@person_lister
def name_format(person):
    return ("Mr. " if person[3] == "M" else "Ms. ") + person[0] + " " + person[1]

if __name__ == '__main__':
    people = [input().split() for i in range(int(input()))]
    print(*name_format(people), sep='\n')

2
Robert Bustle 30 F
Mike Thomson 20 M
Mr. Mike Thomson
Ms. Robert Bustle

### DISTINCT WORDS

In [ ]:
from collections import OrderedDict, Counter

In [ ]:
lists = ['bcdef','abcdefg','bcde','bcdef']

In [ ]:
lists1 = Counter(lists)

In [ ]:
print(len(lists1.keys()))
print(' '.join(map(str, lists1.values())))

3
2 1 1

### IF ELSE

In [ ]:
n=18

In [ ]:
if (n%2==0) and (n>=6) and (n<=20):
    print('Weird')
elif n%2==0:
    print('Not Weird')
else:
    print('Weird')

Weird

### Numpy mean, var, std

In [ ]:
import numpy as np

In [ ]:
n = [[2,2],[1,2],[3,4]]

In [ ]:
np.mean(n,axis=1)

array([2. , 1.5, 3.5])

### STRING SPLIT AND REMOVE DUPLICATES

In [ ]:
string = 'AABCAAADA'

In [ ]:
string[0:3]

'AAB'

In [ ]:
strings = []
start = 0
for i in range(len(string)):
    try:
        if len(string[start:start+3])>0:
            strings.append(string[start:start+3])
        else: pass
        start += 3
    except Exception as e:
        pass

In [ ]:
strings

['AAB', 'CAA', 'ADA']

In [ ]:
def remove_dups(data):
    rd = ''
    for i in range(len(data)):
        if data[i] not in rd:
            rd = rd + data[i]
        else: pass
    return rd

In [ ]:
remove_dups(strings[1])

'CA'

In [ ]:
for i in strings:
    print(remove_dups(i))

AB
CA
AD

### Calculate string

In [ ]:
from collections import Counter, OrderedDict

In [ ]:
string = 'szrmtbttyyaymadobvwniwmozojggfbtswdiocewnqsjrkimhovimghixqryqgzhgbakpncwupcadwvglmupbexijimonxdowqsjinqzytkooacwkchatuwpsoxwvgrrejkukcvyzbkfnzfvrthmtfvmbppkdebswfpspxnelhqnjlgntqzsprmhcnuomrvuyolvzlni'

In [ ]:
strings = []

for i in range(len(string)):
    strings.append(string[i])

In [ ]:
strings

['s',
 'z',
 'r',
 'm',
 't',
 'b',
 't',
 't',
 'y',
 'y',
 'a',
 'y',
 'm',
 'a',
 'd',
 'o',
 'b',
 'v',
 'w',
 'n',
 'i',
 'w',
 'm',
 'o',
 'z',
 'o',
 'j',
 'g',
 'g',
 'f',
 'b',
 't',
 's',
 'w',
 'd',
 'i',
 'o',
 'c',
 'e',
 'w',
 'n',
 'q',
 's',
 'j',
 'r',
 'k',
 'i',
 'm',
 'h',
 'o',
 'v',
 'i',
 'm',
 'g',
 'h',
 'i',
 'x',
 'q',
 'r',
 'y',
 'q',
 'g',
 'z',
 'h',
 'g',
 'b',
 'a',
 'k',
 'p',
 'n',
 'c',
 'w',
 'u',
 'p',
 'c',
 'a',
 'd',
 'w',
 'v',
 'g',
 'l',
 'm',
 'u',
 'p',
 'b',
 'e',
 'x',
 'i',
 'j',
 'i',
 'm',
 'o',
 'n',
 'x',
 'd',
 'o',
 'w',
 'q',
 's',
 'j',
 'i',
 'n',
 'q',
 'z',
 'y',
 't',
 'k',
 'o',
 'o',
 'a',
 'c',
 'w',
 'k',
 'c',
 'h',
 'a',
 't',
 'u',
 'w',
 'p',
 's',
 'o',
 'x',
 'w',
 'v',
 'g',
 'r',
 'r',
 'e',
 'j',
 'k',
 'u',
 'k',
 'c',
 'v',
 'y',
 'z',
 'b',
 'k',
 'f',
 'n',
 'z',
 'f',
 'v',
 'r',
 't',
 'h',
 'm',
 't',
 'f',
 'v',
 'm',
 'b',
 'p',
 'p',
 'k',
 'd',
 'e',
 'b',
 's',
 'w',
 'f',
 'p',
 's',
 'p',
 'x',
 'n',
 'e',
 'l',
 'h',
 'q',
 'n',
 'j',
 'l',
 'g',
 'n',
 't',
 'q',
 'z',
 's',
 'p',
 'r',
 'm',
 'h',
 'c',
 'n',
 'u',
 'o',
 'm',
 'r',
 'v',
 'u',
 'y',
 'o',
 'l',
 'v',
 'z',
 'l',
 'n',
 'i']

In [ ]:
x = Counter(strings)

In [ ]:
x1 = sorted(x.most_common(), key=lambda x: (-x[1], x[0]))

In [ ]:
for i in x1[:3]:
    print(i[0] + ' ' + str(i[1]))

o 12
m 11
n 11

### Regex substitution

In [ ]:
string = '''a = 1;
b = input();

if a + b > 0 && a - b < 0:
    start()
elif a*b > 10 || a/b < 1:
    stop()
print set(list(a)) | set(list(b))
#Note do not change &&& or ||| or & or |
#Only change those '&&' which have space on both sides.
#Only change those '|| which have space on both sides.

x&& &&& && && x || | ||\|| x'''

In [ ]:
import re

In [ ]:
print(re.sub(f'(?<= )\|\|(?= )','or', re.sub(f'(?<= )&&(?= )','and',string)))

a = 1;
b = input();

if a + b > 0 and a - b < 0:
    start()
elif a*b > 10 or a/b < 1:
    stop()
print set(list(a)) | set(list(b))
#Note do not change &&& or ||| or & or |
#Only change those '&&' which have space on both sides.
#Only change those '|| which have space on both sides.

x&& &&& and and x or | ||\|| x

### MAX VALUE

In [ ]:
lists = ['2 5 4', '3 7 8 9','5 5 7 8 9 10']

In [ ]:
max(list(map(int,lists[0].split())))

5

In [ ]:
inputs = ['3','1','2','4']

In [ ]:
inputs1 = sorted(inputs)

In [ ]:
elem1 = []
for i in inputs:
    elem = []
    for j in inputs1:
        if j > i:
            elem.append(j)
    print(elem)
    try:
      elem1.append(min(elem))
    except Exception as e:
      elem1.append('')

['4']
['2', '3', '4']
['3', '4']
[]

In [ ]:
elem1

['4', '2', '3', '']

### Bank add and substract values

In [ ]:
lists = [['acc1','10'],['acc2','20'],['acc1','30']]

In [ ]:
lists

[['acc1', '10'], ['acc2', '20'], ['acc1', '30']]

In [ ]:
lists1 = []
for i in lists:
    if i[0] not in lists1:
        lists1.append(i[0])
    else: pass

In [ ]:
lists1

['acc1', 'acc3']

In [ ]:
values = []
total_values = []

In [ ]:
val = 0
for i,j in lists:
    if i in lists1:
        val = val + int(j)
        values.append(str(val))
    else:
        values.append('')
total_values.append(val)

In [ ]:
values, total_values

(['10', '', '40'], [40])

In [ ]:
total_values1 = list(zip(lists1,total_values))

In [ ]:
total_values1

[('acc1', 40)]

In [ ]:
lists2 = [['acc1','50'],['acc1','20'],['acc2','30']]

In [ ]:
values11 = []

In [ ]:
val = 0
for i, j in lists2:
    if i in lists1:
        val = val - int(j)
        values11.append(str(val))
    else:
        values11.append('')

In [ ]:
values11

['-50', '-70', '']

### PRIME NUMBER

In [ ]:
numbers = []

for i in range(0,200):
    numbers.append(i+1)

In [ ]:
prime_numbers = []

In [ ]:
def pm(num):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        return num

In [ ]:
for i in numbers:
    if i <= 1: pass
    else: prime_numbers.append(pm(i))

In [ ]:
print([i for i in prime_numbers if i is not None])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

### Torch gradient

In [ ]:
import torch

In [ ]:
x = torch.tensor(2.0, requires_grad=True)

In [ ]:
x

tensor(2., requires_grad=True)

In [ ]:
y = x**3

In [ ]:
y

tensor(8., grad_fn=<PowBackward0>)

In [ ]:
y.backward()

In [ ]:
x.grad

tensor(12.)

### NUMBERLAND

In [ ]:
def find_largest_interesting_sequence_length(n, numbers):
    numbers = sorted(numbers)  # Sort the numbers
    max_length = 1
    current_length = 1

    for i in range(1, n):
        if numbers[i] == numbers[i-1] + 1:
            current_length += 1
            max_length = max(max_length, current_length)
        else:
            current_length = 1

    return max_length

# Reading input
N = int(input())
numbers = list(map(int, input().split()))

# Finding the length of the largest interesting sequence
result = find_largest_interesting_sequence_length(N, numbers)

# Printing the result
print(result)

11
1 2 3 4 5 9 10 11 12 13 14
6

### Element count dictionary

In [ ]:
elem = 'Mississipi'

In [ ]:
elements = {}

In [ ]:
for i in elem:
    if i in elements:
        elements[i] += 1
    else:
        elements[i] = 1

In [ ]:
elements

{'M': 1, 'i': 4, 's': 4, 'p': 1}

In [ ]:
sorted_elem = sorted(elements.items(), key=lambda x:x[1], reverse=True)

In [ ]:
[i for i in sorted_elem if i[1]==max(elements.values())]

[('i', 4), ('s', 4)]

In [ ]:
i = [2,3,4]

In [ ]:
int(''.join([str(j) for j in i])[::-1])

432

### All subsets

In [ ]:
lists = [1,2,3,4]

In [ ]:
res = [[]]
for i in lists:
    res += [j+[i] for j in res]

In [ ]:
res

[[],
 [1],
 [2],
 [1, 2],
 [3],
 [1, 3],
 [2, 3],
 [1, 2, 3],
 [4],
 [1, 4],
 [2, 4],
 [1, 2, 4],
 [3, 4],
 [1, 3, 4],
 [2, 3, 4],
 [1, 2, 3, 4]]

### Reversing string

In [ ]:
strings = 'I am here. I not here.'.split()

In [ ]:
strings

['I', 'am', 'here.', 'I', 'not', 'here.']

In [ ]:
strings[::-1]

['here.', 'not', 'I', 'here.', 'am', 'I']